<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PSM CLIENT SERVER</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    </head>
    <body>
        <header>
            <a href="/">home</a><br>
            <button onclick="darkmodefunc()">Toggle dark mode</button>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const element = document.body;
                    if (localStorage.getItem("theme") === "dark") {
                        element.classList.add("dark-mode");
                    }
                });
                function darkmodefunc() {
                    var element = document.body;
                    element.classList.toggle("dark-mode");
                    if (element.classList.contains("dark-mode")) {
                        localStorage.setItem("theme", "dark");
                    } else {
                        localStorage.setItem("theme", "light");
                    }
                }
            </script>
        </header>
        <main>
            {% if request.query_params.error %}
            <error>
                <strong>error:</strong> {{ request.query_params.error }}
            </error>
            {% endif %}
            <h3>{{ version }}</h3>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Private Safe Messaging</p>
            <a href="https://github.com/bruh-moment-0/psm-client">github repo</a>
            <a href="{{ apiurl }}">api url</a>
        </footer>
    </body>
</html>