{% extends "base.html" %}
{% block content %}
<h2>LOGIN</h2>
<form action="/login-send" method="post">
    <pre>current users on disk:</pre>
    {% for option in options %}
        <label>
            <input type="radio" name="username" value="{{ option }}" required>
            {{ option }}
        </label><br>
    {% endfor %}
    <input name="password" type="password" placeholder="enter password">
    <button type="submit">Login</button>
</form>
<form action="/register" method="get">
    <p>or create an account...</p>
    <button type="submit">register a account</button>
</form>
{% endblock %}