{% extends "base.html" %}
{% block content %}
<h2>PSM CLIENT SERVER MAIN MESSAGING PAGE</h2>
<h3>{{ version }}</h3>
<h4>logged in as {{ username }}</h4><button onclick="remove()">Remove Account</button>

<textarea id="scrolledText" readonly></textarea>
    <input type="text" id="msgInputBox" placeholder="enter message...">
    <input type="text" id="userInputBox" placeholder="enter username...">
    <button onclick="sendMessage()">Send</button>
    <button onclick="getMessage()">Refresh</button>

<script>
    const ws = new WebSocket(`ws://${location.host}/ws`);
    const textArea = document.getElementById("scrolledText");
    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);
        textArea.value = data.lines.join("\n");
        textArea.scrollTop = textArea.scrollHeight;
    };
    function sendMessage() {
        const message = document.getElementById("msgInputBox").value;
        const username = document.getElementById("userInputBox").value;
        if (message.trim() !== "" && username.trim() !== "") {
            ws.send(JSON.stringify({action: "send", username: username, message: message}));
            document.getElementById("msgInputBox").value = "";
        } else {
            alert("username or message empty")
        }
    }
    function getMessage() {
        const username = document.getElementById("userInputBox").value;
        if (username.trim() !== "") {
            ws.send(JSON.stringify({action: "get", username: username}));
        } else {
            alert("username empty")
        }
    }
    function remove() {
        ws.send(JSON.stringify({action: "removeaccount"}));
    }
</script>
{% endblock %}