{% extends "base.html" %}
{% block content %}
<h2>PSM CLIENT SERVER MAIN MESSAGING PAGE</h2>
<h3>{{ version }}</h3>
<h4>logged in as {{ username }}</h4>

<textarea id="scrolledText" readonly></textarea>
    <input type="text" id="msgInputBox" placeholder="enter message...">
    <input type="text" id="userInputBox" placeholder="enter username...">
    <button onclick="sendMessage()">Send</button>
    <button onclick="getMessage()">Refresh</button>

<script>
    const ws = new WebSocket(`ws://${location.host}/ws`);
    const textArea = document.getElementById("scrolledText");
    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);
        textArea.value = data.lines.join("\n");
        textArea.scrollTop = textArea.scrollHeight;
    };
    function sendAppend() {
        const val = document.getElementById("inputBox").value;
        if (val.trim() !== "") {
            ws.send(JSON.stringify({action: "append", text: val}));
            document.getElementById("inputBox").value = "";
        }
    }
    function sendMessage() {
        const message = document.getElementById("msgInputBox").value;
        const username = document.getElementById("userInputBox").value;
        if (val.trim() !== "") {
            ws.send(JSON.stringify({action: "append", text: val}));
            document.getElementById("inputBox").value = "";
        }
    }
    function getMessage() {
        ws.send(JSON.stringify({action: "getmsg"}));
    }
</script>
{% endblock %}