{% extends "base.html" %}
{% block content %}
<h2>REGISTER</h2>
<form action="/login" method="get">
    <button type="submit">or login instead</button>
</form>
<pre>current users on disk:</pre>
<ul>
    {% for option in options %}
        <li><pre>{{ option }}</pre></li>
    {% endfor %}
</ul>
<form action="/register-send" method="post">
    <input name="username" placeholder="enter username">
    <input name="password" type="password" placeholder="enter password">
    <br>
    <label for="timezone">timezone</label>
    <select id="timezone" name="timezone" required>
      <option value="">select your timezone...</option>
    </select>
    <br>
    <label>timezone data is fully local, this data does not leave your computer</label><br>
    <label>do not forget your password! nothing can save your account if you forget your password!</label><br>
    <label>reminder: do not share any files under /storage/ directory! they make your account secure!</label><br>
    <br>
    <button type="submit">register</button>
</form>
<script>
    const tzSelect = document.getElementById('timezone');
    const timeZones = Intl.supportedValuesOf('timeZone');
    timeZones.forEach(tz => {
      const option = document.createElement('option');
      option.value = tz;
      option.textContent = tz;
      tzSelect.appendChild(option);
    });
    tzSelect.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
{% endblock %}