{% extends "base.html" %}
{% block content %}
<h3>PSM CLIENT SERVER USER ACCOUNT SETTINGS CONTROL PAGE, logged in as {{ username }}</h3>
<form action="/main" method="get">
    <button type="submit">go back to main messaging page</button>
</form>
<pre>you can see your account on the API server bellow:</pre>
<a href="{{ apiurl }}user/{{ username }}">see here</a>

<form action="/settings/remove" method="get">
    <label>you can manage your timezone settings bellow...</label>
    <button type="submit">manage my timezone</button>
</form>
<form action="/settings/dev" method="get">
    <label>only for debuging</label>
    <button type="submit">enable dev mode</button>
</form>

<h4>BEWARE, DANGEROUS SETTINGS BELLOW.</h4>
<form action="/settings/remove" method="get">
    <button type="submit">remove account</button>
</form>
<form action="/settings/change" method="get">
    <button type="submit">change account password</button>
</form>


{% endblock %}